@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать на резюме-страничку Якушева Романа</h1>
   <div class="profileFoto"> <img src="~/Foto.jpeg" alt="Фото профиля"></div>
</div>
